#profile-pic {
    width: 66%;
    box-shadow: 5px 5px #a9cccf;
}

body {
    background-color: #d9e7e8;
}

.icon {
    width: 30px;
}

a {
    text-decoration: none;
}

a:hover {
    color: red;
}

#content {
    border: 0.5px solid #a9cccf;
    padding: 10px;
}

.navbar {
    overflow: hidden;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.active {
    display: block;
}

.inactive {
    display: none;
}